{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Créer un tag{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-9 mt-3 pr-5 text-justify">
        <h2>Créer un tag</h2>

        {{ include('tags/_form.html.twig') }}

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}

</div>
{% endblock %}