<div class="col-sm-4 mt-3 text-justify">
    <h3 class="border-bottom">Réseaux</h3>
    <a href="#" target="_blank" class="px-1" style="color:#4267B2;"><i class="fab fa-facebook-f px-2 fa-2x"></i></a>
    <a href="#" target="_blank" class="px-1" style="color:#1DA1F2;"><i class="fab fa-twitter px-2 fa-2x"></i></a>
    <a href="#" target="_blank" class="px-1" style="color:#2867B2;"><i class="fab fa-linkedin-in px-2 fa-2x"></i></a>
    <a href="#" target="_blank" class="px-1" style="color:#24292E;"><i class="fab fa-github px-2 fa-2x"></i></a>
    <h3 class="mt-4 border-bottom">Catégories</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Opensource <span
                class="badge badge-primary rounded">17</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Linux <span
                class="badge badge-primary rounded">29</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Windows <span
                class="badge badge-primary rounded">14</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Développement <span
                class="badge badge-primary rounded">22</span></li>
    </ul>
    <h3 class="mt-4 border-bottom">Articles populaires</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-dark">Lorem ipsum dolor sit,
                amet consectetur adipisicing elit...</a><span class="badge badge-info rounded ml-5">11</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-dark">Quam voluptate quaerat
                quisquam autem reprehenderit sapiente...</a><span class="badge badge-info rounded ml-5">9</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-dark">Uga ab incidunt
                dolorum pariatur vel, iste autem quidem dolorem aliquam...</a><span
                class="badge badge-info rounded ml-5">5</span></li>
    </ul>
    <h3 class="mt-4 border-bottom">Derniers commentaires</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-dark">Très bon article</a>
            <span class="badge badge-success rounded py-1 px-2 ml-5">Dudule58</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-dark">Lorem ipsum, dolor sit
                amet consectetur adipisicing elit</a> <span
                class="badge badge-success rounded py-1 px-2 ml-5">ArthurH</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-dark">Lorem ipsum, dolor sit
                amet consectetur adipisicing elit</a> <span
                class="badge badge-success rounded py-1 px-2 ml-5">Olivier</span></li>
    </ul>
    <h3 class="mt-4 border-bottom">Stats</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Nombre d'articles
            <span class="badge badge-success rounded py-1 px-2 ml-5">54</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Nombre total de commentaires<span
                class="badge badge-success rounded py-1 px-2 ml-5">81</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Nombre de membres<span
                class="badge badge-success rounded py-1 px-2 ml-5">77</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Nombre total de lectures<span
                class="badge badge-success rounded py-1 px-2 ml-5">{{2258747 | number_format(0, '', ' ') }}</span></li>
    </ul>
</div>