{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-9 mt-3 pr-5 text-justify">
        <h2>A propos</h2>
        <p class="text-justify">
            Pour info, la plupart de mes services tournent sur des serveurs Hetzner.
        </p>
        <p class="text-justify">
            Né quatre mois jour pour jour avant la mort du général De Gaule, dans le giennois (45).<br>
            Nivernais d'adoption, j'habite Nevers.<br>
            Marié depuis 1995 et père de trois enfants.
        </p>
        <img src="{{ asset('images/citizenz.jpg') }}" alt="citizenz" class="img-fluid float-left mr-3" style="max-width:210px; width: 100%;">
        <p class="text-justify">
            Je suis amateur de rugby et je supporte évidemment l'équipe de Nevers USON (Pro D2). Je supporte également Toulon (RCT) en Top14 (ville où habite la famille de ma femme).
        </p>
        <p class="text-justify">
            Passionné par l'informatique et tout particulièrement par l'univers du Libre et de Gnu/Linux que j'utilise depuis fin 1999 (Mandrake 6.0 puis Debian 2.2), j'utilise aujourd'hui Arch Linux, Xubuntu, Debian et Ubuntu Server (Serveurs).<br>
            J'ai également "fricoté" avec FreeBSD et OpenBSD...
        </p>
        <p class="text-justify">
            J'ai travaillé dans le social pendant plus de 25 ans (Directeur de centre social, de CCAS). Je souhaite aujourd'hui me reconvertir dans l'informatique et le numérique (Mon Portfolio en ligne : <a href="https://www.olivierprieur.fr" target="_blank">https://www.olivierprieur.fr</a>).
        </p>
        <p class="text-justify">
            Je suis actuellement en formation <b>Développeur web et web mobile</b> (titre professionnel niveau III ou 5 selon la nouvelle nomenclature européenne) à l'<a href="https://www.accesscodeschool.fr/" target="_blank">Access Code School</a> de Nevers depuis début mai 2020 (Au programme ? HTML, CSS, Bootstrap, Javascript, PHP, MySQL, MVC, POO, Symphony, React Native, ...). Je suis en stage pro du 30/10/20 au 08/01/20...
        </p>
        <p class="text-justify">
            J'ai longtemps porté le pseudo de mumbly (ou mumbly58). L'âge aidant, je me "recycle" et ai pris le pseudo de CitizenZ (en référence à la série TV "ZNation").<br>
            citizenz.info est mon blog principal consacré au monde du Libre en général, à Gnu/Linux, à l'admin réseau et aux trouvailles et coups de cœur du Net...
        </p>
        <img src="{{ asset('images/PGO_64x64.png') }}" alt="PengolinCoin" class="img-fluid float-left mr-3">
        <p class="text-justify">
            En 2006, j'ai créé <strike>freetorrent.fr</strike> (tracker bittorrent exclusivement réservé aux médias sous licence libre et licence de libre diffusion). (Fermé en juillet 2019)<br>
            [septembre 2019] Ouverture d'un nouveau site <a href="https://www.ft4a.fr" target="_blank">ft4a.fr</a> qui reprend le code légèrement amélioré de feu freetorrent.fr !<br>
            Je suis aussi le fondateur et le créateur de la cryptomonnaie <a href="https://www.pengolincoin.xyz" target="_blank">PengolinCoin</a>
        </p>

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}

</div>
{% endblock %}