{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Editer la catégorie{% endblock %}

{% block body %}

<div class="row pb-5">
    <div class="col-sm-8 mt-3 pr-5 text-justify">
        {{ include('categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    {% include('home/sidebar.html.twig') %}
</div>
{% endblock %}