{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Rédaction d'un nouvel article{% endblock %}

{% block body %}
    <h2>Nouvel article</h2>

    {{ include('articles/_form.html.twig') }}

{% endblock %}


