{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Rédaction d'un nouvel article{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-8 mt-3 pr-5 text-justify">
        <h2>Nouvel article</h2>

        {{ include('articles/_form.html.twig') }}

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}

</div>

{% endblock %}