{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h2>Create new Users</h2>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('users_index') }}">back to list</a>
{% endblock %}
