{% extends 'base.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}

{% block body %}

    <div class="container mt-4 alert-danger py-5 px-3 text-center">
        <h1 class="display-1 font-weight-bold">
            {{ status_code }}
        </h1>
        <h1 class="display-4 mb-5">{{ status_text }}</h1>
        <h3>Oula ! Vous êtes perdu(e) ?!!</h3>
        La page que vous essayez d'atteindre n'existe pas. Je ne comprends même pas comment vous êtes arrivé là...<br>
        Mais vous pouvez cliquer sur le bouton ci-dessous pour retourner sur la page d'accueil
    </div>

    <div class="mt-3 text-center">
        <a class="btn btn-primary p-3 lead" href="{{ path('home') }}">
            Retour page d'accueil
        </a>
    </div>
        

{% endblock %}